@charset "utf-8";

.sc{position: relative; overflow-x: hidden; }
.sc__inner{padding-inline: var(--space-16);  width:100%;  max-width: var(--container-width); margin-inline: auto;}
.sc__title{margin-bottom: var(--space-20); color: var(--blue-900); font-weight: 700; font-size: 1.5rem; line-height: 140%; text-align: center;}
.sc__desc {font-size: 0.9375rem; line-height: 145%;  color: var(--text-sub1); text-align: center; margin-bottom: var(--space-40);}

/* hero */
.hero{
height: 100vh; display: flex; align-items: center;
.hero__inner{display: flex; flex-direction: column; align-items: center;}
.hero__content{text-align: center;}
.hero__title{color: var(--color-text); margin-bottom: var(--space-24);}
.hero__eyebrow{color: var(--color-text);}
.hero__bg {
position: absolute;inset: 0;
background:
    linear-gradient(
      180deg,
    rgba(1, 44, 127, 1) 0%,
    rgba(31, 81, 191, 1) 50%,
    rgba(1, 44, 127, 1) 100%
    );pointer-events: none;z-index: -1;
}
.hero__desc{color: var(--color-text); opacity: 0.65;}}
.hero__visual{width: clamp(480px, 48vw, 700px);min-height: 250px;background:url("../source/images/hero.png") center / contain no-repeat;}
.hero__actions{width: 100%;}


/* comparison */
.comparison{

 .comparison__inner{padding-block: var(--space-100); text-align: center;}
 .sc__desc.comparison__desc{margin-bottom: 0;}
 .comparison__note{display: inline-block; margin-bottom: var(--space-40); border-radius: var(  --radius-sm); color: var(--text-sub2); padding: 0.2em 0.5714em; margin-top: var(--space-12); background-color: var(--blue-100);}
 .comparison-cards__list{display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); gap: var(--gap)}
 .comparison-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25em 1em ;
  border-radius: var(--radius-lg);
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  box-shadow: var(--shadow-1);
}
.comparison-card__title{margin-bottom: 0.5em; margin-top: 1em;}
.comparison-card:first-child .comparison-card__title{color: #FF7F3E;}
.comparison-card:last-child .comparison-card__title{color: var(--blue-700)}
.comparison-card__label{color: var(--blue-800); background-color: var(--blue-100); padding: 0.6571em 0.4em; width: 100%; margin-bottom: 1em; border-radius: 999px;  }
.comparison-card__desc{color: var(--text-sub2);}  
.comparison-card__visual{  display: flex;align-items: center;justify-content: center;}
.comparison-card__visual img{display: block; width: 100%; min-width: 90px; max-width:  200px; height: auto; aspect-ratio: 1/1; object-fit: contain;
}
}

/* benefits */
.benefits{
 .benefits__item{background: var(--color-white); text-align: center; border-radius: var(--radius-xl);}
 .benefit-card{padding: var(--space-24) var(--space-16); box-shadow: var(--shadow-1);}
 .benefit-card__icon{ position: relative; margin: 0 auto;  width: clamp(62px, 5.694vw, 82px); border-radius: 999px;  aspect-ratio: 1/1; background-color: var(--blue-100);}
 .benefit-card__icon::before{content: "";border-radius: 999px;display: block;background-position: center;background-repeat: no-repeat;background-size: contain;position: absolute;inset: 0;}
 .benefit-card:first-of-type .benefit-card__icon::before{ background-image: url("../source/images/benefit01.png") }
 .benefit-card__title{margin-top: 1.1111em; margin-bottom: 0.2em;}
 .benefit-card__subtitle{color: var(--text-sub2);}
 .benefit-card__divider{width: 50px; border:0;border-top:1.5px solid var(--blue-100); margin-block: var(--space-16);}
 .benefit-card__desc{color: var(--text-sub1);}
}
